a:link {
	color: #664D4F;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	color: #664D4F;
}

#hero {
	width: 874px;
	height:567px;
	display: block;
	position: relative;
	margin:auto;
}

#slider {
	width: 874px;
	height:567px;
	display: block;
	align: center;
	overflow:hidden;
}

#info {    
	width: 874px;
	height: 90px;
	display: block;
	position:relative;
	bottom: 112px;
	background-color: rgba(163, 48, 39, .2);
	z-index: 99;	 
}

#info h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color:#FFFFFF;
	padding: 20px 0 0 20px;
}

#info p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: lighter;
	color:#FFFFFF;
	padding: 0 0 0 20px;
	line-height: 1px;
}

#play {
	width: 40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	display:block;
	position:absolute;
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	top:0;
	right: 44px;
	background:rgba(163, 48, 39, .2);
	color:#FFFFFF;
	cursor: pointer;
	z-index:999;
}

#pause {
	width: 40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	display:block;
	position:absolute;
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	top:0;
	right: 88px;
	background:rgba(163, 48, 39, .2);
	color:#FFFFFF;
	cursor: pointer;
	z-index:999;
}

#next {
	width: 40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	display:block;
	position:absolute;
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	top:0;
	right: 0;
	background: rgba(163, 48, 39, .2);
	color:#FFFFFF;
	cursor: pointer;
	z-index:999;
}

#prev {
	width: 40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	display:block;
	position:absolute;
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	top:0;
	right: 133px;
	background:rgba(163, 48, 39, .2);
	color:#FFFFFF;
	cursor: pointer;
	z-index:999;
}


#pager {
	width:100%;
	text-align: center;
	display: block;
	position: absolute;
	cursor: pointer;
	z-index: 999;
}

#pager a  {
	font-size: .0em;
	color: transparent;
	width: 10px;
	height: 10px;
	display: inline-block;
	position: relative;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	background: transparent;
	margin: 10px;
}

#pager a.activeSlide {  
	background:#FFFFFF;
}

#body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background:  #FFFFFF;
	margin: 0; 
	text-align: center;
	color: #FFFFFF;	
}

.twoColElsLtHdr #container {
	width: 1000px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 10px solid #BCA7A9;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	text-align: left;
} 

.twoColElsLtHdr #header {
background: #FFFFFF;
padding: 0 10px;  
} 
.twoColElsLtHdr #header h1 {
margin: 0; 
padding: 10px 0; 
}

.twoColElsLtHdr #sidebar1 {
	float: left;
	width: 12em;
	background: #FFFFFF; 
	padding: 15px 0;
}
.twoColElsLtHdr #sidebar1 h3, .twoColElsLtHdr #sidebar1 p {
	margin-left: 10px; 
	margin-right: 10px;
}

.twoColElsLtHdr #mainContent {
	margin: 0 auto;
	width: 900px;
	align:center;
	padding-left: 0px;
	border: 1px solid #BCA7A9;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.twoColElsLtHdr #footer { 
	padding: 0 10px; 
	background:#DDDDDD;
} 
.twoColElsLtHdr #footer p {
	margin: 0;
	padding: 10px 0; 
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.style26 {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}
.style11 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #9E7E81; 
}
.style14 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.style16 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #BCA7A9; 
}
.style17 {
	color: #541132
}

.style19 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	color: #664D4F; 
}
.style20 {
	color: #A07D83;
}
.style25 {
	color: #A07D83; 
	font-style: italic; 
}
.style26 {
	color: #A07D83;
	font-weight: bold;
	font-style: italic;
}